* {
    margin:0px;
    padding:0px;
    font-family: Arial;
}
.rubrik {
    color: white;
}

.mig{
    margin-left: 28%;
}
h2 {
    color: white;
    font-family:Arial;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 50px;
    

}
body{   
    background-color: turquoise;
    
}

ul {

float: right;
list-style-type: none;
margin-top: 1px;
font-size: 29px;
}

ul li {
    display:inline;
    margin-inline-end: 80px;
}

ul li a {

text-decoration: none;
color: white;
padding:5 px 20 px;
transition: 0 s ease;

}

ul li a:hover {
    color: black;
    background-color: white;
}