* {
    margin:0px;
    padding:0px;
    font-family: Arial;
}
h1 {
    color:white;
    position: absolute;
    margin-top: 20%;
    margin-left: 32%;
    font-size: 50px;
}

body{   
    background-image: url(../bilder/Vy.jpg);
    height: 100vh;
    background-position: center;
    
}

ul {

float: right;
list-style-type: none;
margin-top: 1px;
font-size: 29px;
position: absolute;
margin-left: 250px;
margin-top: 42px;
}

ul li {
    display:inline;
    margin-inline-end: 80px;
}

ul li a {

text-decoration: none;
color: white;
padding:5 px 20 px;
border: 1px solid black;
transition: 0 s ease;
background-color: black;

}

ul li a:hover {
    background-color: white;
    color: black;
    border: white;
}